@font-face {
    font-family: timerUI;
    src: url(font/CursedTimerUlil-Aznm.ttf);
}

body {
   margin: 0;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   background-color: #1B244A;
   color: white;
   font-size: 40px;
}

#main-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.score {
    font-family: timerUI, sans-serif;
    color: #F94F6D;
    background-color: #080001;
    width: 255px;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 60px
}

button {
    font-size: 20px;
    font-family: timerUI;
    margin-top: 40px;
    padding: 20px;
    background-color: #1B244A;
    border: 2px solid #9AABD8;
    border-radius: 10px;
    color: #9AABD8;
}

button:hover {
    background-color: #9AABD8;
    color: #1B244A;
    cursor: pointer;
}